.process{
    
    &__bg-image{
        max-width: 1280px;
        border-radius: 8px;
        display: flex;
        background-color: #333D4B;
        padding-top: 91px;
        padding-left: 85px;
        margin-bottom: 159px;
    }
    
    &__list{
        display: flex;  
        align-items: flex-start;
        margin-bottom: 64px;
    }
    
    
    &__item{
        width: 380px;
    }
    
    &__icon{
        display: flex;
        align-items: center;
        margin-bottom: 82px;
    }
    
    &__line{
        display: inline-block;
        width: 31px;
        height: 31px;
        border-radius: 50%;
        border: 2px solid #0E8784;
    }
    
    &__symbol{
        display: inline-block;
        width: 100px;
        height: 2px;
        background-color: #FDD6BA;
        flex-grow: 1;
    }
    
    
    &__number{
        font-family: 'Fraunces', 'sans-serif';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FDD6BA;
        margin: 0;
        margin-bottom: 38px;
        
    }
    
    &__heading{
        width: 255px;
        font-family: 'Fraunces', 'sans-serif';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #FEFCF7;
        margin: 0;
        margin-bottom: 42px;
        
    }
    
    &__text{
        width: 285px;
        font-family: 'Barlow', 'sans-serif';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        margin: 0;
        margin-bottom: 107px;
        
    }
    
    
}